<!DOCTYPE html>
<html lang="en">
<head>
	<!-- Judul Halaman -->
	<title>Orbit Future Academy</title>
	
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	
	<!-- Icon -->
	<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
	
	<!-- CSS -->
	<link rel="stylesheet" href={{ url_for('static', filename='/css/bootstrap.min.css') }} type="text/css">
	<link rel="stylesheet" href={{ url_for('static', filename='/css/client_side.css') }}  type="text/css">
	
	<!-- JavaScript -->
	<script src={{ url_for('static', filename='/js/jquery_3.6.0.min.js') }} ></script>
	<script src={{ url_for('static', filename='/js/bootstrap_3.4.1.min.js') }} ></script>
</head>

<body id="halamanku" data-spy="scroll" data-target=".navbar" data-offset="60">

	<!-- Navigation Bar -->
	<nav class="navbar navbar-default navbar-fixed-top">
		<div class="container">
			
			<!-- Logo -->
			<div class="navbar-header">
				<img src={{ url_for('static', filename='/images/orbit_logo.jpg') }} alt="Orbit Logo" 
				width="50" height="50" align="left">
				<a class="navbar-brand" href="#halamanku">&#160; Orbit Future Academy</a>
			</div>
			
			<!-- Daftar Halaman -->
			<div class="collapse navbar-collapse" id="myNavbar">
				<ul class="nav navbar-nav navbar-right">
					<li><a href="#informasi">INFORMASI</a></li>
					<li><a href="#aplikasi">APLIKASI</a></li>
					<li><a href="#anggotaKelompok">ANGGOTA KELOMPOK</a></li>
				</ul>
			</div>
		</div>
	</nav>

	<!-- Bagian Halaman (Informasi) -->
	<div id="informasi" class="container-fluid">
		<br>
		<br>
		<br>
		<div class="row">
			<div class="col-sm-6">
				<!-- Deskripsi Aplikasi -->
				<h2>BRRRRR !</h2>
				<h4>Permainan Danau Beku</h4><br>
				<p style="text-align: justify;text-justify: inter-word;">
					Permainan ini memiliki ruang sebesar 4 x 4 yang direpresentasikan
					sebagai danau beku.	Setiap posisi/kotak merupakan <i>state</i> sehingga 
					terdapat 16 <i>state</i>. Untuk memenangkan permainan, arahkan si Kuning
					dari posisi awal (kotak 1) menuju posisi tujuan (kotak 16). Tapi awas, 
					jangan sampai si Kuning masuk ke dalam lubang/air dingin. BRRRRR !
				</p>
				<br>

				<!-- Tombol Mulai -->
				<nav id="navgo" class="navbar" style="background-color:#ffffff;z-index: 0;">
					<ul class="nav nav-pills">
						<li class="nav-item">
							<a class="btn btn-default btn-lg" href="#aplikasi" style="background-color:#28ace5">Mulai</a>
						</li>
					</ul>
				</nav>
			</div>
			
			<div class="col-sm-6">
				<br>
				<br>
				<div align="center">
					<!-- Gambar Deskripsi Aplikasi -->
					<img src={{ url_for('static', filename='/images/app-display.JPG') }} height="300" ></img>
				</di>
			</div>
		</div>
		<br>
	</div>
	

	<!-- Bagian Halaman (Aplikasi) -->
	<div id="aplikasi" data-bs-spy="scroll" data-bs-target="#navgo" data-bs-offset="0" class="scrollspy-example" tabindex="0">
		<br>
		<br>
		<br>
		<div class="row">
			<div class="col-sm-6">
				</br>
				<!--Kendali Agent (Si Kuning) -->
				<h3 style="margin-left: 50px;">Kendali Agent (Si Kuning)</h3>
				<form>
					<div class="form-group" style="margin-left: 50px;">

						<!-- Tombol Reset -->
						<button type="submit" id="tombol_reset" class="btn btn-default btn-lg">&#8635; Ulangi Permainan</button>
					
						&nbsp; &nbsp; &nbsp;
						
						<!-- Tombol Robot -->
						<button type="submit" id="tombol_robot" class="btn btn-default btn-lg">Mainkan Robot</button>
					
						<br>
						<br>
						
						<table>
							<tr>
								<td></td>
								<td>
									<!-- Tombol Atas -->
									<button type="submit" id="tombol_gerak_atas" class="btn btn-default btn-lg" 
										alt="Atas">&#9650;</button>
								</td>
								<td></td>
							</tr>
							<tr>
								<td>
									<!-- Tombol Kiri -->
									<button type="submit" id="tombol_gerak_kiri" class="btn btn-default btn-lg" 
										alt="Kiri">&#9664;</button>
								</td>
								<td>
									<!-- Tombol Bawah -->
									<button type="submit" id="tombol_gerak_bawah" class="btn btn-default btn-lg" 
										alt="Bawah">&#9660;</button>	
								</td>
								<td>
									<!-- Tombol Kanan -->
									<button type="submit" id="tombol_gerak_kanan" class="btn btn-default btn-lg" 
										alt="Kanan">&#9654;</button>
								</td>
							</tr>
						</table>
						
						<br>
						
						<!-- Tombol Peta -->
						<h3>Pilihan Peta</h3>
						<table id="tombol_pilihan_peta">
							<tr>
								<td>
									<button type="submit" id="tombol_peta1" class="btn btn-primary btn-lg">1</button>
								</td>
								<td>
									<button type="submit" id="tombol_peta2" class="btn btn-default btn-lg">2</button>
								</td>
								<td>
									<button type="submit" id="tombol_peta3" class="btn btn-default btn-lg">3</button>
								</td>
								<td>
									<button type="submit" id="tombol_peta4" class="btn btn-default btn-lg">4</button>
								</td>
								<td>
									<button type="submit" id="tombol_peta5" class="btn btn-default btn-lg">5</button>
								</td>
							</tr>
						</table>
					</div>
				</form>
			</div>
			<div class="col-sm-6">
				<br>
				<br>
				<!-- Bagian Halaman untuk Environment Permainan -->
				<div id="env_permainan" class="env_permainan">
					<!-- Bagian Environment -->
				</div>
				
				<!-- Bagian Status Permainan -->
				<div id="status_permainan">
					<!-- Bagian Status -->
				</div>
			</div>
		</div>
		<br>
		<br>
	</div>

	<!-- Bagian Halaman (Anggota Kelompok) -->
	<div id="anggotaKelompok" class="container-fluid text-center">
		<br>
		<h2>ANGGOTA KELOMPOK</h2>
		<h4>Tim Deployment dan Tim RL</h4>
		<br>
		<div class="row slideanim">
			<div class="col-sm-4">
				<span class="glyphicon glyphicon-user logo-small"></span>
				<h4>BUDI</h4>
				<p>Universitas Sumatera</p>
			</div>
			<div class="col-sm-4">
				<span class="glyphicon glyphicon-user logo-small"></span>
				<h4>AYU</h4>
				<p>Universitas Jawa dan Bali</p>
			</div>
			<div class="col-sm-4">
				<span class="glyphicon glyphicon-user logo-small"></span>
				<h4>TONO</h4>
				<p>Universitas Kalimantan</p>
			</div>
		</div>
	    <br>
	    <div class="row slideanim">
			<div class="col-sm-6">
				<span class="glyphicon glyphicon-user logo-small"></span>
				<h4>PUTRA</h4>
				<p>Universitas Sulawesi</p>
			</div>
			<div class="col-sm-6">
				<span class="glyphicon glyphicon-user logo-small"></span>
				<h4>PUTRI</h4>
				<p>Universitas Kepulauan Nusa, Maluku dan Papua</p>
			</div>
	    </div>
	</div>

	<!-- Footer -->
	<footer class="container-fluid text-center">
		<a href="#halamanku" title="To Top">
			<span class="glyphicon glyphicon-chevron-up"></span>
		</a>
		<p>Orbit Future Academy <br> <a href="https://orbitfutureacademy.id/">orbitfutureacademy.id</a></p>
	</footer>

	<!-- JavaScript untuk Animasi Scroll dan Prediksi Model -->
	<script  src={{ url_for('static', filename='/js/client_side.js') }}></script>

</body>
</html>
